<div class="sidebar">
    <h3>Latest News</h3>
    <h4>What does the UKs international development strategy need to succeed?</h4>
    <p>Critical to the success of the International Development strategy is for the UK to build trusted, modern
        partnerships that enable international cooperation and action on shared priorities.<br/><a
                href="#">Read more</a></p>
    <p></p>
    <h4>Collaboration, creativity, innovation: how to build resilient UK - Europe relations</h4>
    <p>The Pontignano Conference has shown education and culture as key assets to support the UKs international
        ambitions in a decade where resilient relationships are crucial.<br/>
        <a href="#">Read more</a></p>
</div>