<div id="content">
    <h1>Online English school</h1>
    <p>Learn English online and improve your skills through our high-quality courses and resources – all
        designed for adult language learners. Everything you find here has been specially created by the British
        Council, the world's English teaching experts.</p>
    <h2>Self-study online courses</h2>
    <p>LearnEnglish Subscription: self-study courses
        LearnEnglish Subscription is a flexible, low-cost way for you to learn English online for life and work.
        Study English online in your own time, at your own speed.

        Improve your English language level and professional communication skills, express yourself with
        confidence and progress in your career.

        LearnEnglish Subscription is the perfect choice if you want to learn English at your own pace and be
        part of an online community.</p>

    <h2>A modern approach to learning English</h2>
    <ul>
        <li>Online classes</li>
        <li>Digital textbook</li>
        <li>Conversation clubs</li>
        <li>Mobile app</li>
        <li>Personal curator</li>
    </ul>
    	<div>
		<h2><a href="/create_category/">Create new category</a></h2>
	</div>
	<div>
		<h1>Список существующих категорий</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
			<a href="/courses_list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
	</div>
</div>
