<div id="content">
    <h1>About us</h1>
    <p>The British Council builds connections, understanding and trust between people in the UK and other
        countries through arts and culture, education and the English language.

        We work in two ways: directly with individuals to transform their lives, and with governments and
        partners to make a bigger difference for the longer term, creating benefit for millions of people all
        over the world.

        We help young people to gain the skills, confidence and connections they are looking for to realise
        their potential and to participate in strong and inclusive communities. We support them to learn
        English, to get a high-quality education and to gain internationally recognised qualifications. Our work
        in arts and culture stimulates creative expression and exchange and nurtures creative enterprise.

        We connect the best of the UK with the world and the best of the world with the UK. These connections
        lead to an understanding of each other's strengths and of the challenges and values that we share. This
        builds trust between people in the UK and other nations which endures even when official relations may
        be strained.</p>
    <h2>Headings</h2>
    <p>These are the different heading formats:</p>
    <h2>Text</h2>
    <p>The following examples show how the text (within '&lt;p&gt;&lt;/p&gt;' tags) will appear:</p>
    <p><strong>This is an example of bold text</strong></p>
    <p><i>This is an example of italic text</i></p>
    <p><a href="#">This is a hyperlink</a></p>
    <h2>Lists</h2>
    <p>This is an unordered list:</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <p>This is an ordered list:</p>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ol>
    <h2>Images</h2>
    <p>images can be placed on the left, in the center or on the right:</p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
    </p>
    <h2>Tables</h2>
    <p>Tables should be used to display data and not used for laying out your website:</p>
</div>
